body{
    background: linear-gradient(#A770EF 0%, #CF8BF3 50%,#FDB99B 100%);
    color: white;
}
.head{
    width: 80%;
    font-size: 22px;
}

.objects,#facename,#faceacc{
    color: white;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}

